# Traefik static configuration
entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  file:
    directory: "/etc/traefik/dynamic"
    watch: true

api:
  dashboard: true

ping: {}

certificatesResolvers:
  letsencrypt:
    acme:
      email: akash@mangwale.ai
      storage: /letsencrypt/acme.json
      httpChallenge:
        entryPoint: web
